{# blackknight467/StarRatingBundle/Resources/views/rating.html.twig #}
{% block rating_widget %}
{% spaceless %}
    <div {{ block('widget_container_attributes') }}>
    	{{ block('form_label') }}
    	<div class="rating-well">
		    {% for child in form %}
		        {{ form_widget(child, { 'attr': {'class': 'star'} }) }}
		        <div class="star"></div>
		    {% endfor %}
			</div>
    </div>
{% endspaceless %}
{% endblock rating_widget %}
